<?xml version="2.3.4" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/2.3.4"
id = "com.mwriley.pgbuild.sample"
version = "2.3.4">

<name>PhoneGap Build Sample</name>

<description>
A sample PhoneGap application built to demo PhoneGap Build and the PhoneGap cloud debugger.
</description>

<author href="http://matthewriley.us">

</author>

<gap:platforms>
<gap:platform name="android" minVersion="2.3.4" />
<gap:platform name="webos" />
<gap:platform name="symbian.wrt" />
<gap:platform name="blackberry" project="widgets"/>
</gap:platforms>

<icon src="icon.png" gap:role="default" />

<feature name="http://api.phonegap.com/2.3.4/geolocation"/>
<feature name="http://api.phonegap.com/2.3.4/network"/>

</widget>
